#!/bin/bash

SERVER="user@domain.com"
PORT="22"
PROJECT_PATH="/your/path/"

echo "🚀 Déploiement en cours..."

ssh -p $PORT $SERVER << EOF
cd $PROJECT_PATH
echo "📥 Pull des changements..."
git pull origin main && \
echo "🔨 Rebuild et restart..." && \
make cc && \
docker-compose -f compose.prod.yml up --force-recreate -d frankenphp && \
echo "✅ Déploiement terminé !"
EOF
