{% set cssFiles = encore_entry_css_files('app-shop-entry', 'app.shop') %}

{% for cssFile in cssFiles %}
    <link rel="preload" href="{{ cssFile }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
{% endfor %}


<h1>hello world :)</h1>
